* { margin: 0; padding: 0}
html {
    width: 100%; 
    height: 100%;
    font-family: sans-serif;
    background-color: #111;
    color: #888;
}
canvas {
    display: block;
    background-color: #000000;
}
#preloader {
    text-align: center;
    position: fixed;
    opacity: 1;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    font-size: 2em;
    color: #111;
    text-shadow: 1px 1px 10px #888;
}
#preloader p {
    padding: 150px;
}
#levelNum {
	color: gray solid;
	display: block;
	padding: 5px 0;
}
.button {
	cursor:pointer;
	color: black;
	font-weight:700;
	display:block;
	width: 150px;
	padding: 15px 0;
	margin: 20px auto;
	text-align:center;
	background-color: #E34234;
}
.credits {
    position: absolute;
    z-index: 10;
    width: 60%;
    height: 90%;
    margin: auto;
    padding: 5% 20%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
